{% extends 'base.html' %}


{% block content %}

<ul class="list-group list-group-horizontal">
    <li class="list-group-item"> موضوع :</li>
    <li class="list-group-item"> فرستنده :</li>
    <li class="list-group-item"> گیرنده :</li>
    <li class="list-group-item"> زمان ارسال :</li>
    <li class="list-group-item"><a href="{{a.file.url}}" download="{{a.file.url}}">Download</a> </li>
</ul>


{% if user.is_level_1 %}
    <p>is level one</p>
{% endif %}
    

{% if user.is_level_2 %}
    <p>is level two</p>
{% endif %}
    

{% if user.is_level_3 %}
    <p>is level three</p>
{% endif %}
    

{% endblock content %}
    